html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: rgb(200, 200, 200);
}

h1, h2, h3, h4, h5, h6, p, a, li, ul, div, span {
    font-family: sans-serif;
    margin: 0;
    color: rgb(200, 200, 200);
}

h1 {
    font-size: 76px;
}

h3 {
    font-size: 28px;
}

#map {
    position: absolute;
    top: calc(50vh - 35%);
    left: calc(50vw + 100%);
    height: 78%;
    width: 80%;
    z-index: 10;
    transition: 1000ms ease;
}
#map.show {
    left: calc(50vw - 40%);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 10;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.nav a {
    position: absolute;
    top: 12px;
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.nav a:nth-of-type(1) {
    left: 133px;
}

.nav a:nth-of-type(2) {
    right: 430px;
}
.nav a:nth-of-type(3) {
    right: 300px;
}
.nav a:nth-of-type(4) {
    right: 133px;
}

.nav div.signIn {
    position: absolute;
    right: 133px;
    top: 6px;
}

.nav p.signOut {
    position: absolute;
    top: 12px;
    right: 133px;
    cursor: pointer;
    color: rgb(240, 240, 240);
    font-size: 20px;
    display: none;
}

.nav .personalization {
    position: absolute;
    bottom: -25px;
    right: -50%;
    height: 25px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(50, 50, 50, 0), rgba(50, 50, 50, 0.5));
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 1000ms ease;
}
.nav .personalization p {
    float: right;
    margin-right: 133px;
    margin-top: 4px;
    font-size: 12px;
}
.nav .personalization.show {
    right: 0%;
}


.landing {
    position: relative;
    height: 100%;
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2018/01/09/1187741/3143265a0e7e0ef64a6a73312b1c7c25.jpg);
    background-position: center;
    background-size: cover;
}

.landing::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
    z-index: 1;
}

.landing .welcome {
    position: absolute;
    top: 210px;
    left: 133px;
    z-index: 5;
}
.landing .welcome h1 {
    color: rgb(240, 240, 240);
    margin-bottom: 15px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.landing .welcome h3:nth-of-type(1) {
    color: rgb(240, 240, 240);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.landing .welcome h3:nth-of-type(2) {
    color: rgb(240, 240, 240);
    margin-left: 250px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}